
.form-group{
    margin-top: 20px;
    font-size: 20px;
}

.btndecision {
    margin-top: 10px;
    margin-left:20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.form-input{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}